{% if site.data.social-media %}
<div align="center" id="social-media">
    {% assign sm = site.data.social-media %}
    {% for entry in sm %}
        {% assign key = entry | first %}
        {% if sm[key].title == 'Scholar' %}
            <a href="{{ sm[key].href }}{{ sm[key].id }}" title="{{ sm[key].title }}"><i class="{{ sm[key].fa-icon }}"></i>   </a>
        {% else %}
        <a style="padding-left:20px;" href="{{ sm[key].href }}{{ sm[key].id }}" title="{{ sm[key].title }}"><i class="{{ sm[key].fa-icon }}"></i>   </a>
        {% endif %}
    {% endfor %}
</div>
{% endif %}
